*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: 'Open Sans', sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #131313;

}

.container{
    display: flex;
    
}


.slider-wrapper {
    position: relative;
}

.slider-wrapper .slider-item{
    display: none;

}

.slider-item.active {
    display: block;
}

.slider-wrapper .slider-img {
    height: 550px;
    width: 850px;
}

.slider-wrapper .slider-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider-wrapper .text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 20px;
    color: white;
    text-align: right;
    width: 80%;

}

.controller-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 13;
}

.controller-wrapper .controller-item {
    height: calc(550px / 5);
    opacity: .5;
    cursor: pointer;
}

.controller-wrapper .controller-item.active {
    opacity: 1;
    -webkit-box-shadow: 0px 0px 14px 1px rgba(255, 230, 146, 0.5);
    -moz-box-shadow: 0px 0px 14px 1px rgba(255, 230, 146, 0.5);
    -o-box-shadow: 0px 0px 14px 1px rgba(255, 230, 146, 0.5);
    box-shadow: 0px 0px 14px 1px rgba(255, 230, 146, 0.5);
}

.controller-wrapper .controller-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    aspect-ratio: 16/9;
    
}

.controller-wrapper .btn {
    background-color: #ddd;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #131313;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    cursor: pointer;
}

.controller-wrapper .btn.up {
    bottom: 10px;
}

.controller-wrapper .btn.down {
    top: 10px;
}